@import "./components/view/filters/filters-style";
@import "./components/view/products/cards-style";

body {
    background-image: url("./img/space.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 100px;
    display: flex;
    align-items: center;
    background-color: #17181cde;
    border-radius: 10px;

    .logo {
        width: 50px;
        height: 50px;
    }

    .cart {
        margin-left: auto;
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
        }

        .cart-count {
            width: 25px;
            height: 25px;
            margin-left: -15px;
            margin-top: 10px;
            border: 1px solid  rgb(235, 122, 57);
            border-radius: 25px;
            background-color: #17181cde;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #17181ccc;

    .rss-logo {
        height: 2rem;
    }

    a {
        color: #999;
    }

    a:hover {
        color: #bbb;
    }
}