@import "./components/view/filters/filters-style";
@import "./components/view/products/cards-style";

body {
    background-image: url("./img/space.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #17181cde;
    border-radius: 10px;

    .logo {
        width: 50px;
        height: 50px;
    }

    .cart {
        width: 50px;
        height: 50px;
        margin-left: auto;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #17181ccc;

    .rss-logo {
        height: 2rem;
    }

    a {
        color: #999;
    }

    a:hover {
        color: #bbb;
    }
}