.products-conteiner {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .card {
        background-color: #17181cc4;
        padding: 10px;
        max-width: 300px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        h4 {
            margin: 0px;
            text-align: center;
        }
        p {
            margin: 0px;
            text-align: center;
        }
    }
}