.filters-conteiner {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    input,
    label {
        &:hover {
            cursor: pointer;
        }
    }

    input[type=checkbox] {
        display: none;
    }

    .filters {
        background-color: #17181cc4;
        padding: 20px;
        flex-grow: 1;
        min-width: 200px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        h4 {
            margin: 0px;
        }
    }

    .filters_by-range {
        padding: 20px 40px;
        gap: 25px;
    }

    .button {
        margin-top: auto;
        width: 200px;
        height: 30px;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 10px;
        transition: all 0.3s ease-in;

        &:hover {
            background-color: #2a2c33e8;
            border-color: rgb(235, 122, 57);
            cursor: pointer;
        }
    }

    label {
        padding: 3px 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 10px;
        transition: all 0.3s ease-in;

        &:hover {
            background-color: #2a2c33e8;
            border-color: rgb(235, 122, 57);
            cursor: pointer;
        }

    }

    input[type=checkbox]:checked + label {
        background-color: #2a2c33e8;
        border-color: rgb(235, 122, 57);
    }

    .filters_by-value {
        align-items: center;
    }

    .noUi-target {
        background-color: #17181cc4;
        height: 0.6rem;
    }
    .noUi-handle {
        height: 24px;
        cursor: pointer;
    }
    .noUi-connect {
        background-color: rgb(235, 122, 57);
    }
}