.filters-conteiner {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;

    .filters {
        background-color: #17181cc4;
        padding: 10px;
        flex-grow: 1;
        border: 1px solid white;
        border-radius: 5px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        h4 {
            margin: 0px;
        }
    }
}